USE [Beraberiz2]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 15.04.2019 23:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KindOfAnimalId] [int] NOT NULL,
	[ShelterId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfRegister] [datetime] NOT NULL,
	[Note] [nvarchar](150) NOT NULL,
	[Pet] [bit] NOT NULL,
 CONSTRAINT [PK_Hayvan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 15.04.2019 23:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] NOT NULL,
	[District] [nvarchar](255) NULL,
	[City] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KindOfAnimal]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KindOfAnimal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HayvanTur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Management](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagementTypeId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Point] [int] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Isletme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagementFood]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementFood](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagementId] [int] NOT NULL,
	[DateOfFood] [datetime] NOT NULL,
	[DeliveryTime] [datetime] NULL,
	[SupplyDelivery] [bit] NULL,
	[ResponsibleUser] [int] NULL,
 CONSTRAINT [PK_IsletmeErzak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagementPhone]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementPhone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagementId] [int] NOT NULL,
	[PhoneTypeId] [int] NOT NULL,
	[PhoneNumber] [char](11) NOT NULL,
 CONSTRAINT [PK_IsletmeTelefon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagementShelter]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementShelter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagementId] [int] NOT NULL,
	[ShelterId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_IsletmeBarinak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagementType]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagementType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_IsletmeTur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneType]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TelefonTur] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResponsibleOfManagement]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponsibleOfManagement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ManagementId] [int] NULL,
 CONSTRAINT [PK_IsletmeSorumlu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelter]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Barinak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShelterOfUser]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShelterOfUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ShelterId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_KullaniciBarinak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15.04.2019 23:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[IdentityNumber] [char](11) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Birthday] [date] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Point] [int] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPhone]    Script Date: 15.04.2019 23:55:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPhone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PhoneNumber] [char](11) NOT NULL,
	[PhoneId] [int] NOT NULL,
 CONSTRAINT [PK_KullaniciTelefon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Animal] ON 

INSERT [dbo].[Animal] ([Id], [KindOfAnimalId], [ShelterId], [Name], [DateOfRegister], [Note], [Pet]) VALUES (2, 1, 1, N'Boncuk', CAST(N'2019-04-13T18:24:34.600' AS DateTime), N'Sokakta bulundu', 0)
INSERT [dbo].[Animal] ([Id], [KindOfAnimalId], [ShelterId], [Name], [DateOfRegister], [Note], [Pet]) VALUES (3, 2, 1, N'Zeytin', CAST(N'2019-04-13T18:29:36.810' AS DateTime), N'Vatandaş tarafından bırakıldı', 1)
INSERT [dbo].[Animal] ([Id], [KindOfAnimalId], [ShelterId], [Name], [DateOfRegister], [Note], [Pet]) VALUES (4, 1, 1, N'Rıfkı', CAST(N'2019-04-13T18:30:02.793' AS DateTime), N'Maraz ali getirdi', 1)
SET IDENTITY_INSERT [dbo].[Animal] OFF
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'ADANA')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [District], [City]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[Districts] ([Id], [District], [City]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[Districts] ([Id], [District], [City]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[KindOfAnimal] ON 

INSERT [dbo].[KindOfAnimal] ([Id], [Name]) VALUES (1, N'Köpek')
INSERT [dbo].[KindOfAnimal] ([Id], [Name]) VALUES (2, N'Kedi')
INSERT [dbo].[KindOfAnimal] ([Id], [Name]) VALUES (3, N'Kuş')
SET IDENTITY_INSERT [dbo].[KindOfAnimal] OFF
SET IDENTITY_INSERT [dbo].[Management] ON 

INSERT [dbo].[Management] ([Id], [ManagementTypeId], [CityId], [DistrictId], [Name], [Address], [Point], [Username], [Password]) VALUES (1, 1, 11, 202, N'Bilecik merkez restoran', N'Bilecik/Merkez', NULL, N'Bilecik', N'11')
INSERT [dbo].[Management] ([Id], [ManagementTypeId], [CityId], [DistrictId], [Name], [Address], [Point], [Username], [Password]) VALUES (2, 1, 11, 203, N'Miras değil alın teri', N'Bilecik/Bozüyük', NULL, N'Bozüyük', N'11')
INSERT [dbo].[Management] ([Id], [ManagementTypeId], [CityId], [DistrictId], [Name], [Address], [Point], [Username], [Password]) VALUES (3, 2, 54, 662, N'Söğütlü restorantı', N'Söğütlü bim yanı', NULL, N'Sögütlü', N'54')
SET IDENTITY_INSERT [dbo].[Management] OFF
SET IDENTITY_INSERT [dbo].[ManagementFood] ON 

INSERT [dbo].[ManagementFood] ([Id], [ManagementId], [DateOfFood], [DeliveryTime], [SupplyDelivery], [ResponsibleUser]) VALUES (1, 1, CAST(N'2019-04-13T20:05:18.823' AS DateTime), CAST(N'2019-04-14T00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[ManagementFood] ([Id], [ManagementId], [DateOfFood], [DeliveryTime], [SupplyDelivery], [ResponsibleUser]) VALUES (2, 5, CAST(N'2019-04-13T20:05:52.907' AS DateTime), CAST(N'2019-04-18T00:00:00.000' AS DateTime), 1, 5)
INSERT [dbo].[ManagementFood] ([Id], [ManagementId], [DateOfFood], [DeliveryTime], [SupplyDelivery], [ResponsibleUser]) VALUES (3, 14, CAST(N'2019-04-13T20:06:23.283' AS DateTime), CAST(N'2019-04-19T00:00:00.000' AS DateTime), 0, 14)
SET IDENTITY_INSERT [dbo].[ManagementFood] OFF
SET IDENTITY_INSERT [dbo].[ManagementPhone] ON 

INSERT [dbo].[ManagementPhone] ([Id], [ManagementId], [PhoneTypeId], [PhoneNumber]) VALUES (1, 1, 2, N'1239812391 ')
INSERT [dbo].[ManagementPhone] ([Id], [ManagementId], [PhoneTypeId], [PhoneNumber]) VALUES (2, 1, 3, N'2139213981 ')
INSERT [dbo].[ManagementPhone] ([Id], [ManagementId], [PhoneTypeId], [PhoneNumber]) VALUES (3, 2, 2, N'2139821391 ')
SET IDENTITY_INSERT [dbo].[ManagementPhone] OFF
SET IDENTITY_INSERT [dbo].[ManagementShelter] ON 

INSERT [dbo].[ManagementShelter] ([Id], [ManagementId], [ShelterId], [Active]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ManagementShelter] ([Id], [ManagementId], [ShelterId], [Active]) VALUES (2, 2, 2, 0)
INSERT [dbo].[ManagementShelter] ([Id], [ManagementId], [ShelterId], [Active]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[ManagementShelter] OFF
SET IDENTITY_INSERT [dbo].[ManagementType] ON 

INSERT [dbo].[ManagementType] ([Id], [Name]) VALUES (1, N'Lokanta   ')
INSERT [dbo].[ManagementType] ([Id], [Name]) VALUES (2, N'Restoran  ')
INSERT [dbo].[ManagementType] ([Id], [Name]) VALUES (3, N'Kasap     ')
SET IDENTITY_INSERT [dbo].[ManagementType] OFF
SET IDENTITY_INSERT [dbo].[PhoneType] ON 

INSERT [dbo].[PhoneType] ([Id], [Name]) VALUES (1, N'GSM')
INSERT [dbo].[PhoneType] ([Id], [Name]) VALUES (2, N'Sabit hat')
INSERT [dbo].[PhoneType] ([Id], [Name]) VALUES (3, N'İş hattı')
SET IDENTITY_INSERT [dbo].[PhoneType] OFF
SET IDENTITY_INSERT [dbo].[ResponsibleOfManagement] ON 

INSERT [dbo].[ResponsibleOfManagement] ([Id], [UserId], [ManagementId]) VALUES (1, 2, 1)
INSERT [dbo].[ResponsibleOfManagement] ([Id], [UserId], [ManagementId]) VALUES (2, 10, 2)
INSERT [dbo].[ResponsibleOfManagement] ([Id], [UserId], [ManagementId]) VALUES (3, 5, 3)
SET IDENTITY_INSERT [dbo].[ResponsibleOfManagement] OFF
SET IDENTITY_INSERT [dbo].[Shelter] ON 

INSERT [dbo].[Shelter] ([Id], [CityId], [DistrictId], [Name], [Address], [Phone]) VALUES (1, 11, 202, N'Bilecik Hayvan Barınağı', N'Merkez Bilecik', N'02641111111')
INSERT [dbo].[Shelter] ([Id], [CityId], [DistrictId], [Name], [Address], [Phone]) VALUES (2, 11, 203, N'Bozüyük Hayvan Barınağı', N'Merkez Bozüyük ', N'02647811123')
INSERT [dbo].[Shelter] ([Id], [CityId], [DistrictId], [Name], [Address], [Phone]) VALUES (3, 54, 662, N'Söğütlü City barınağı', N'Texas Söğütlü', N'04123123451')
SET IDENTITY_INSERT [dbo].[Shelter] OFF
SET IDENTITY_INSERT [dbo].[ShelterOfUser] ON 

INSERT [dbo].[ShelterOfUser] ([Id], [UserId], [ShelterId], [Active]) VALUES (5, 2, 2, 1)
INSERT [dbo].[ShelterOfUser] ([Id], [UserId], [ShelterId], [Active]) VALUES (6, 12, 1, 0)
INSERT [dbo].[ShelterOfUser] ([Id], [UserId], [ShelterId], [Active]) VALUES (7, 12, 1, 0)
SET IDENTITY_INSERT [dbo].[ShelterOfUser] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [CityId], [DistrictId], [Name], [Surname], [IdentityNumber], [Gender], [Birthday], [Address], [Username], [Password], [Point]) VALUES (1, 54, 660, N'Kadir', N'Bekar', N'11111111111', 1, CAST(N'1996-11-18' AS Date), N'Ferizli/Sakarya', N'Kadir', N'54', NULL)
INSERT [dbo].[User] ([Id], [CityId], [DistrictId], [Name], [Surname], [IdentityNumber], [Gender], [Birthday], [Address], [Username], [Password], [Point]) VALUES (2, 11, 202, N'Ersin', N'Ersin', N'22222222222', 1, CAST(N'2000-11-22' AS Date), N'Bilecik/Merkez', N'Ersin', N'11', NULL)
INSERT [dbo].[User] ([Id], [CityId], [DistrictId], [Name], [Surname], [IdentityNumber], [Gender], [Birthday], [Address], [Username], [Password], [Point]) VALUES (3, 35, 884, N'ErenAlp', N'Kaşka', N'33333333333', 1, CAST(N'2003-01-01' AS Date), N'İzmir/Urla', N'Eren', N'35', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserPhone] ON 

INSERT [dbo].[UserPhone] ([Id], [UserId], [PhoneNumber], [PhoneId]) VALUES (1, 1, N'05318967662', 1)
INSERT [dbo].[UserPhone] ([Id], [UserId], [PhoneNumber], [PhoneId]) VALUES (2, 2, N'12321321312', 2)
INSERT [dbo].[UserPhone] ([Id], [UserId], [PhoneNumber], [PhoneId]) VALUES (3, 2, N'12312312311', 1)
SET IDENTITY_INSERT [dbo].[UserPhone] OFF
ALTER TABLE [dbo].[Animal] ADD  CONSTRAINT [DF_Animal_DateOfRegister]  DEFAULT (getdate()) FOR [DateOfRegister]
GO
ALTER TABLE [dbo].[ManagementFood] ADD  CONSTRAINT [DF_ManagementFood_DateOfFood]  DEFAULT (getdate()) FOR [DateOfFood]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Hayvan_Barinak] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelter] ([Id])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Hayvan_Barinak]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Hayvan_HayvanTur] FOREIGN KEY([KindOfAnimalId])
REFERENCES [dbo].[KindOfAnimal] ([Id])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Hayvan_HayvanTur]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Isletme_Ilceler] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Isletme_Ilceler]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Isletme_Iller] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Isletme_Iller]
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD  CONSTRAINT [FK_Isletme_IsletmeTur] FOREIGN KEY([ManagementTypeId])
REFERENCES [dbo].[ManagementType] ([Id])
GO
ALTER TABLE [dbo].[Management] CHECK CONSTRAINT [FK_Isletme_IsletmeTur]
GO
ALTER TABLE [dbo].[ManagementFood]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeErzak_Isletme] FOREIGN KEY([ManagementId])
REFERENCES [dbo].[Management] ([Id])
GO
ALTER TABLE [dbo].[ManagementFood] CHECK CONSTRAINT [FK_IsletmeErzak_Isletme]
GO
ALTER TABLE [dbo].[ManagementFood]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeErzak_Kullanici] FOREIGN KEY([ResponsibleUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ManagementFood] CHECK CONSTRAINT [FK_IsletmeErzak_Kullanici]
GO
ALTER TABLE [dbo].[ManagementPhone]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeTelefon_Isletme] FOREIGN KEY([ManagementId])
REFERENCES [dbo].[Management] ([Id])
GO
ALTER TABLE [dbo].[ManagementPhone] CHECK CONSTRAINT [FK_IsletmeTelefon_Isletme]
GO
ALTER TABLE [dbo].[ManagementPhone]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeTelefon_TelefonTur] FOREIGN KEY([PhoneTypeId])
REFERENCES [dbo].[PhoneType] ([Id])
GO
ALTER TABLE [dbo].[ManagementPhone] CHECK CONSTRAINT [FK_IsletmeTelefon_TelefonTur]
GO
ALTER TABLE [dbo].[ManagementShelter]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeBarinak_Barinak] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelter] ([Id])
GO
ALTER TABLE [dbo].[ManagementShelter] CHECK CONSTRAINT [FK_IsletmeBarinak_Barinak]
GO
ALTER TABLE [dbo].[ManagementShelter]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeBarinak_Isletme] FOREIGN KEY([ManagementId])
REFERENCES [dbo].[Management] ([Id])
GO
ALTER TABLE [dbo].[ManagementShelter] CHECK CONSTRAINT [FK_IsletmeBarinak_Isletme]
GO
ALTER TABLE [dbo].[ResponsibleOfManagement]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeSorumlu_Isletme] FOREIGN KEY([ManagementId])
REFERENCES [dbo].[Management] ([Id])
GO
ALTER TABLE [dbo].[ResponsibleOfManagement] CHECK CONSTRAINT [FK_IsletmeSorumlu_Isletme]
GO
ALTER TABLE [dbo].[ResponsibleOfManagement]  WITH CHECK ADD  CONSTRAINT [FK_IsletmeSorumlu_Kullanici] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ResponsibleOfManagement] CHECK CONSTRAINT [FK_IsletmeSorumlu_Kullanici]
GO
ALTER TABLE [dbo].[Shelter]  WITH CHECK ADD  CONSTRAINT [FK_Barinak_Ilceler] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Shelter] CHECK CONSTRAINT [FK_Barinak_Ilceler]
GO
ALTER TABLE [dbo].[Shelter]  WITH CHECK ADD  CONSTRAINT [FK_Barinak_Iller] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Shelter] CHECK CONSTRAINT [FK_Barinak_Iller]
GO
ALTER TABLE [dbo].[ShelterOfUser]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciBarinak_Barinak] FOREIGN KEY([ShelterId])
REFERENCES [dbo].[Shelter] ([Id])
GO
ALTER TABLE [dbo].[ShelterOfUser] CHECK CONSTRAINT [FK_KullaniciBarinak_Barinak]
GO
ALTER TABLE [dbo].[ShelterOfUser]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciBarinak_Kullanici] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ShelterOfUser] CHECK CONSTRAINT [FK_KullaniciBarinak_Kullanici]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Ilceler] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Kullanici_Ilceler]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Iller] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Kullanici_Iller]
GO
ALTER TABLE [dbo].[UserPhone]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciTelefon_Kullanici] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserPhone] CHECK CONSTRAINT [FK_KullaniciTelefon_Kullanici]
GO
ALTER TABLE [dbo].[UserPhone]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciTelefon_TelefonTur] FOREIGN KEY([PhoneId])
REFERENCES [dbo].[PhoneType] ([Id])
GO
ALTER TABLE [dbo].[UserPhone] CHECK CONSTRAINT [FK_KullaniciTelefon_TelefonTur]
GO
